/* CSS Reset - https://www.joshwcomeau.com/css/custom-css-reset/ */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* End of CSS Reset*/

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Lato.woff2) format('woff2');
}

html {
	--music-link-height: 62px;
}

body {
	padding: 20px;
	padding-top: 53px;

	font-family: "Lato", helvetica, arial, sans;
	color: white;
}

main {
	max-width: 660px;
	margin-left: auto;
	margin-right: auto;

	/* create new stacking context and position it on top of the background image */
	position: relative;
	z-index: 2;
}

.background {
  position: fixed;
  inset: -50%;
  background-color: #000000;
}

.background img {
  position: absolute;
  inset: 0px;
  margin: auto;

  min-width: 55%;
  min-height: 55%;

  filter: blur(35px);
  opacity: .3;
}

header {
	margin-bottom: 20px;

	border-radius: 10px;
	background-color: #333333;
	
	text-align: center;
	position: relative;
	padding-bottom: 27px;
}

header img {
	max-width: 170px;
	max-height: 170px;
	border-radius: 10px;
	display: inline-block;

	box-shadow: 0px 0px 25px hsl(0deg 0% 0% / 0.35);

	transform: translateY(-28px);
}

h1 {
	display: block;
	margin-top: -9px;

	font-family: helvetica, arial, sans;
	font-size: 34px;
}

h2 {
	margin-top: -6px;

	font-size: 19px;
	font-weight: 400;
}

ul {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 20px;

	list-style-type: none;
	padding: 0;
	padding-bottom: 50px;
}

ul li a {
	display: flex;
	align-items: center;
	height: var(--music-link-height);
	padding-left: 82px;

	border-radius: 10px;
	color: white;
	box-shadow: 0px 0px 25px hsl(0deg 0% 0% / 0.35);

	background-color: hsl(0deg 100% 100% / 0.17);
	background-image: url('../images/caret-right-solid.png');
	background-repeat: no-repeat;
	background-position: center right 20px;

	text-decoration: none;
	font-size: 18px;
	font-weight: 400;

	position: relative;

	/* force rounded corners for music stores logos */
	overflow: hidden;
}

ul li a:hover {
	background-color: hsl(0deg 0% 100% / 0.35);
}

ul li a img {
	max-height: var(--music-link-height);
	position: absolute;
	top: 0;
	left: 0;

	box-shadow: 0px 0px 5px black;
}

@media screen and (max-width: 750px) {
	header{
		background: transparent;
		margin-bottom: 0;
		padding-bottom: 20px;
	}

	h1 {
		margin-top: -20px;
	}

	h2 {
		margin-bottom: 4px;
	}
}